{% extends 'team/base.html.twig' %}

{% block title %}질문 요청 보내기 - {{ parent() }}{% endblock %}

{% block content %}
    <div class="mt-3 container">
        <div class="card card-body">
            <h1 class="text-center">질문 요청 보내기</h1>

            {{ form_start(form) }}
            {{ form_row(form.recipient) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.message) }}
            <div class="form-group">
                <button type="submit" name="submit" class="btn btn-primary">
                    <i class="fas fa-envelope"></i> 전송
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
